[Unit]
Description=Wormzy mailbox proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=wormzy
Group=wormzy
Environment=WORMZY_MAILBOX_LISTEN=127.0.0.1:9200
EnvironmentFile=/etc/wormzy/mailbox.env
ExecStart=/usr/local/bin/mailbox -listen ${WORMZY_MAILBOX_LISTEN} -redis "${WORMZY_MAILBOX_REDIS}"
Restart=on-failure
RestartSec=5s
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
